/* PC */

@media all and (min-width: 1199px) {
  
  /* Header */

  .header-container {
   width: 75%;
   margin: 0 auto;
  }

  .fa-bars {
    display: none;
  } 
   
  ul {
    display: flex;
    list-style-type: none;
  }

  a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }

  #get-started > a {
    color: black;
    padding: 5px 10px;
    background-color: white;
    border-radius: 20px;
  }

  /* Sezione Planning */

  .row {
    width: 70%;
    margin: 0 auto;
  }

  #demo {
    display: flex;
  }

  .planning-phone {
    display: flex;
    align-items: flex-end;
  }

  .planning img {
    max-width: 450px;
    margin-bottom: 0;
    width: 100%;
  }

  /* Sezione "Testimonials" */
  
  div > img {
    max-width: 100%;
  }
  
  .testimonials .row {
    flex-wrap: nowrap;
  }
  
  .testimonials .card {
    width: 50%;
  }

  .testimonials .card.boy {
    margin-top: 250px;
  }

  /* Sezione "Testimonials Expert Partners" */

  .features .card {
    width: calc((100% / 3) - 20px);
    margin: 10px;
  }

/* Sezione "About Us" */

}
