/* PC */

@media all and (min-width: 1199px) {
  
  /* Header */

  .header-container {
   width: 75%;
   margin: 0 auto;
  }

  .fa-bars {
    display: none;
  } 
   
  ul {
    display: flex;
    list-style-type: none;
  }

  a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }

  #get-started > a {
    color: black;
    padding: 5px 10px;
    background-color: white;
    border-radius: 20px;
  }

  /* Sezione Planning */

  .row {
    padding: 25px 0;
    width: 70%;
    margin: 0 auto;
  }

  #demo {
    display: flex;
  }

  .planning-phone {
    display: flex;
    align-items: flex-end;
  }

  .planning img {
    max-width: 100%;
    margin-bottom: 0;
  }
}

