* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'PT Sans', sans-serif;
}

ul {
  display: none;
}

.row {
  padding: 40px 20px;
}

.card {
  background-color: #b5ddff;
  border-radius: 25px;
  padding: 35px;
  margin-bottom: 25px;
  margin: 20px 10px
}

/* MOBILE */

/* Header */

header {
  width: 100%;
  background-color: rgb(3, 126, 255);
}

.header-container {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

header i {
  font-size: 25px;
}

/* Sezione Planning */

.planning {
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  color: rgb(3, 126, 255);
  text-align: center;
}

p {
  line-height: 28px;
  color: rgb(70, 70, 70);
  font-weight: bold;
  font-size: 16px;
}

/* Planning Card Phone */


#demo {
  padding-bottom: 0;
}

#demo h2 {
  text-align: left;
}

.link {
  margin: 25px 0;
  text-align: center;
}

a {
  background-color: rgb(3, 126, 255);
  color: white;
  font-weight: bold;
  padding: 5px 40px;
  border-radius: 20px;
  text-decoration: none;
  }

div > img {
  max-width: 100%;
  margin-bottom: -5px;
}

/* Planning Card "Clean Code"*/

.planning-content .icon {
  text-align: center;
  margin-bottom: 20px;
}

.planning i:not(.fa-apple) {
  font-size: 60px;
}

/* Sezione "Testimonials" */

.container {
  background-color: #9792e4;
}

.testimonials .card {
  background-color: transparent;
}

.testimonials .card.boy {
  background-color: white;
}

.testimonials .card {
  margin: 0 auto;
  width: 100%;
}

.testimonials p {
  text-align: center;
}

.girl h2 {
  color: white;
  text-align: left;
  font-size: 30px;
}

.boy h2 {
  color: black;
  text-align: center;
  font-size: 20px;
}

.testimonials-content {
  margin: 60px 0 30px 0;
}

.girl p {
  color: white;
  font-weight: normal;
}

.boy p {
  color: black;
  font-weight: normal;
}

.strategic-planning.img {
  text-align: center;
}

.testimonials .icon {
  text-align: center;
}

.fa-arrow-down {
  margin-top: 50px;
  background-color: #9792e4;
  border-radius: 50%;
  padding: 18px;
}

/* Sezione "Testimonials Expert Partners" */

.testimonials-expert .container {
  background-color: white;
}

.testimonials-expert .card {
  background-color: #9792e4;
}

.card.title {
  background-color: white;
}

h4 {
  text-align: center;
  margin-bottom: 25px;
}

h3 {
  font-size: 30px;
  color: #9792e4;
  text-align: center;
  margin-bottom: 25px;
}

.testimonials-expert .image {
  width: 200px;
  height: 200px;
  margin: 0 auto 25px;
}

.testimonials-expert img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
}

.testimonials-expert p {
  font-weight: normal;
  text-align: center;
  color: white;
}

.card.title p {
  color: black;
}

.testimonials-expert i {
  font-size: 25px;
}

#name {
  color: white;
  font-size: 25px;
  margin-top: 20px;
}

/* Sezione "Features" */

.features h2 {
  font-size: 40px;
  text-align: center;
  padding: 50px 10px 0 10px;
  color: white;
}

.features .card {
  background-color: white;
}

.number {
  color: #9792e4;
  font-size: 45px;font-weight: bold;
}

.features h3 {
  color: #9792e4;
  text-align: left;
  margin: 15px 0;
}

.features p {
  font-weight: normal;
}

.features a {
  background-color: #9792e4;
  color: white;
}

.features .link {
  text-align: left;
}

/* Sezione "About Us" */

.about-us .container {
  background-color: white;
}

.about-us h2 {
  color: #9792e4;
  font-size: 40px;
}

.about-us p {
  line-height: 35px;
}

.image-and-quote {
  position: relative;
}

.about-us .image {
  margin-top: 35px;
  margin-bottom: 15px;
}

.about-us img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 200px;
  
}

.fa-quote-left {
  position: absolute;
  top: 0;
  left: 150px;
  font-size: 60px;
}

#quote {
  text-align: left;
}

.about-us a {
  background-color: #9792e4;
}

/* Sezione "Get Started" */

.get-started h4 {
opacity: .6;
font-weight: normal;
color: lightgrey;
font-size: 18px;
}

.get-started h3 {
  color: white;
}

.get-started h2 {
  color: gold;
  font-size: 60px;
}

.get-started p {
  color: white;
  font-weight: normal;
}

.get-started a {
  text-align: center;
  background-color: white;
  color: #9792e4;
  padding: 16px 50px;
  border-radius: 30px;
}

.get-started .link{
  margin: 45px 0;
}