/* TABLET */

@media all and (min-width: 655px) {

  /* Header */

  ul {
    display: none;
  }

  /* Sezione Planning */

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .planning .row > div {
    width: calc((100% / 3) - 20px);
    margin: 0 10px 20px 10px;
    min-width: 185px;
  }

  #demo {
    width: calc((100% / 1.5) - 20px);
    min-width: 390px;
  }

  .planning .link {
    text-align: left;
  }

  .phone-image {
    display: flex;
    justify-content: start;
    margin-left: -15px;
  }

  .phone-image img {
    max-width: 70%;
  }

  .planning-content {
    overflow-y: auto;
  }
  
  .planning img {
    max-width: 250px;
    margin-bottom: 0;
    width: 100%;
  }

  /* Sezione "Testimonials" */


  .boy img,
  .girl img {
    width: 65%;
    margin: 0 auto;
  }

  /* Sezione "Testimonials Expert Partners" */

  .testimonials-expert .card:not(.card.title) {
    display: flex;
    align-items: center;
  }

  .nat.content,
  .celia.content,
  .bob.content {
    max-width: 60%;
  }

  .testimonials-expert .image {
    margin: 0 auto;
  }

/* Sezione "Features" */

.features .card {
  width: calc((100% / 2) - 20px);
  margin: 10px;
}

/* Sezione "About Us" */

  .about-us .row {
    flex-wrap: nowrap;
  }

  .row > div {
    padding: 25px;
  }
  
/* Sezione "Get Started" */

  .get-started .row {
    width: 60%;
    margin: 0 auto;
  }

  /* Footer */

  footer .row {
    width: 55%;
    margin: 0 auto;
  }

}